__pycache__
*.egg-info
build/
dist/
.eggs/
spacehaven-modloader.spec
logs.txt
previous_spacehaven_path.txt
*.patch
*.orig
*.rej
quicklaunch_*.jar
quicklaunch_*/
extra_mods_path.txt
env/
.vscode/.ropeproject/
.vscode/settings.json
